<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Alexandra Palace</string>
	<string>Bannermans, Edinburgh</string>
	<string>The Black Heart</string>
	<string>The Booking Hall, Dover</string>
	<string>Borderline</string>
	<string>Boston Music Room</string>
	<string>Bramham Park</string>
	<string>Bush Hall</string>
	<string>Cadogan Hall</string>
	<string>Church, Dundee</string>
	<string>Clapham Grand</string>
	<string>The Dome, Tufnell Park</string>
	<string>Dingwalls</string>
	<string>Donnington Park, Derby</string>
	<string>E1</string>
	<string>Earth (Formerly Hackney Arts Centre)</string>
	<string>Electric Ballroom</string>
	<string>Electric Brixton</string>
	<string>Electrowerkz</string>
	<string>Esquires Music Venue, Bedford</string>
	<string>Eventim Apollo, Hammersmith</string>
	<string>Fac251 The Factory, Manchester</string>
	<string>Finsbury Park</string>
	<string>The Fleece, Bristol</string>
	<string>The Garage</string>
	<string>Gorilla, Manchester</string>
	<string>Harpenden Public Halls</string>
	<string>Heaven</string>
	<string>Hoxton Bar &amp; Kitchen</string>
	<string>Hyde Park</string>
	<string>The Islington</string>
	<string>Indigo At The O2</string>
	<string>Ironworks, Inverness</string>
	<string>Islington Assembly Hall</string>
	<string>Ivory Blacks, Glasgow</string>
	<string>Kew Gardens</string>
	<string>Koko</string>
	<string>Limelight 2</string>
	<string>The Liquid Room, Edinburgh</string>
	<string>The Loft, Nottingham</string>
	<string>London Oslo</string>
	<string>London Palladium</string>
	<string>London Roundhouse</string>
	<string>London Stadium, Queen Elizabeth, Olympic Park</string>
	<string>London Xoyo</string>
	<string>Mk Stadium, Milton Keynes</string>
	<string>Moth Club</string>
	<string>Nell&apos;s Jazz &amp; Blues</string>
	<string>Night People, Manchester</string>
	<string>The O2 Arena</string>
	<string>O2 Academy 2 Islington</string>
	<string>O2 Academy 2 Oxford</string>
	<string>O2 Academy Brixton</string>
	<string>O2 Academy Islington</string>
	<string>O2 Forum</string>
	<string>O2 Shepherd&apos;s Bush Empire</string>
	<string>Old Blue Last</string>
	<string>Omeara</string>
	<string>Patterns, Brighton</string>
	<string>Queen Elizabeth Hall</string>
	<string>Richfield Avenue</string>
	<string>Royal Albert Hall</string>
	<string>Royal Festival Hall</string>
	<string>Royal Hospital Chelsea</string>
	<string>The Slaughtered Lamb</string>
	<string>Scala</string>
	<string>Sebright Arms</string>
	<string>Servant Jazz Quarters</string>
	<string>Slade Rooms, Wolverhampton</string>
	<string>St John On Bethnal Green</string>
	<string>St Moritz Club</string>
	<string>St Pancras Old Church</string>
	<string>Stargreen Box Office</string>
	<string>Student Central (Formerly Ulu)</string>
	<string>The Tabernacle</string>
	<string>The Black Heart</string>
	<string>The Booking Hall, Dover</string>
	<string>The Troubadour</string>
	<string>The Troxy</string>
	<string>The Camden Assembly</string>
	<string>The Dome, Tufnell Park</string>
	<string>The Fleece, Bristol</string>
	<string>The Garage</string>
	<string>The Islington</string>
	<string>The Jazz Cafe</string>
	<string>The Lexington</string>
	<string>The Liquid Room, Edinburgh</string>
	<string>The Loft, Nottingham</string>
	<string>The O2 Arena</string>
	<string>The Slaughtered Lamb</string>
	<string>The Sse Arena Wembley</string>
	<string>The Tabernacle</string>
	<string>The Troubadour</string>
	<string>The Troxy</string>
	<string>The Underworld Camden</string>
	<string>The Waiting Room</string>
	<string>The Water Rats</string>
	<string>Thousand Island (Formally Upstairs Garage)</string>
	<string>Under The Bridge</string>
	<string>Union Chapel</string>
	<string>Various Camden Venues</string>
	<string>Village Underground</string>
	<string>The Waiting Room</string>
	<string>The Water Rats</string>
	<string>Wembley Stadium</string>
	<string>100 Club</string>
	<string>229 Club</string>
</array>
</plist>
